* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Prevents scrolling */
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}

.main-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px); /* Adjusted height for full-screen containment */
  justify-content: space-between;
}

.left-section{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden; /* Ensures content does not overflow */
}

.right-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100%;
  overflow: hidden; /* Ensures content does not overflow */
}

.control-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}
